<div class="menu-container">
  <button class="collapse-btn"><</button>
  <ul>
    <li><a routerLink="/animals" class="menu-link" routerLinkActive="active" (click)="openSubMenu($event)">Animals</a></li>
    <li><a routerLink="/cars" class="menu-link" routerLinkActive="active" (click)="openSubMenu($event)">Cars</a></li>
    <li><a routerLink="/flowers" class="menu-link" routerLinkActive="active" (click)="openSubMenu($event)">Flowers</a></li>
  </ul>
  <ul [hidden]="!showSubMenu">
    <li *ngFor="let option of options"><a routerLink="/option" class="menu-link" routerLinkActive="active">{{option}}</a></li>
  </ul>
</div>