.menu-container {
    width: 200px;
    float: left;
    background: #273650;
}
.menu-container ul {
    list-style: none;
}
.menu-link {
    color: #fff;
}
.collapse-btn {
    float: right;
}
.active {
    color: chocolate;
}